@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Source+Sans+Pro:300,400,400i,600,700');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "mixins";
@import "variables";


.container.first {padding-top:50px;}

ul {
  padding-left: 0px;
  list-style: none;
}

.tmargin0 { margin-top: 0; }
.bmargin0 { margin-bottom: 0; }
.bmargin5 { margin-bottom: 5px; }
.pleft0 { padding-left: 0px; }
.pright0 { padding-right: 0px; }
.bpadding0 { padding-bottom: 0; }
.ptop0 { padding-top: 0px; }
.f-right {float: right;}

p, h5, h4, h3, h2, h1, a, li {font-family: $open; line-height: 1.4em; color: $dark;
  &.wide {letter-spacing: 1.5px;}
  &.upper {text-transform: uppercase;}
  &.white {color: white;}
  &.black {color: black;}
  &.dark {color: $dark;}
  &.blue {color: $blue;}
}
h3, h2 {margin-top:0px;}
p{font-size: 16px;}
body{font-family: $open; background-color: $f9;}
ul{list-style-type: none; padding-left:0;}
a:hover {text-decoration: none;}

.center-block {@include center-block();}

.scroll-up {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 15px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  @include sec-bgimage('scroll-top.png');
  z-index: 100;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  visibility:hidden;

  @include bp(tb) { right: 30px;visibility:visible; }
  @include bp(sm) { right: 15px; }
}
.ft-block.menu li {margin-bottom: 10px;}

.full {@include sec-default(); padding: $sec-pad;}
.wrap {width: 90%; @include center-block();}
.wrap-less {width: 85%; @include center-block();}

.breadcrumb {text-transform: capitalize; margin-top:0; color: $gray; background-color: transparent;}

.site-footer { @include sec-default(); background-color: white; padding: 20px;
  .inner-ft {width:85%; @include center-block();}
  .ft-final {@include sec-default();}
  .ft-block {@include grid3(); padding: 10px 15px;
    &.menu {margin-left:2%; }
    &.cancel{float: right;}
  }
}

.msg-bx {@include sec-default();
  .alert {width: 85%; @include center-block(); margin-top: 20px;}
}
.panel-danger.err{width: 85%; @include center-block();}

// FOR DEVISE
.registrations, .sessions, .passwords, .confirmations {
  .new, .edit {
    .full{padding-top:20px;}
  }
}






/*************CHATROOMS****************************/

// .messages-list {
//   max-height: 200px;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

// .message-sent {
//   position: relative;
//   background-color: #D9EDF7;
//   border-color: #BCE8F1;
//   margin: 5px 20px;
//   padding: 10px;
//   float: right;
// }

// .message-received {
//   background-color: #F1F0F0;
//   border-color: #EEEEEE;
//   margin: 5px 20px;
//   padding: 10px;
//   float: left;
// }


.live-chat {
  width: 230px;
  min-height: 30px;
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 100;
  text-align: center;
  background-color: darken($blue, 25%);
  color:white;
  padding: 5px 0;
  .chat-icon {width: 25px; height:auto; margin-right: 5px; }
  &:hover {color: rgba(white, .7);}
}

.messages-list, .notes-list {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent, .note-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
  border-radius:4px;
}

.message-received, .note-received {
  background-color: $f2;
  border-color: $gray;
  margin: 5px 20px;
  padding: 14px;
  float: left;
  border-radius:4px;
}

.message-msg small.stamp, .note-msg small.stamp {color: red; font-size: 10px;}

.pers-chat .panel-default {
  width: 275px;
  min-height: 30px;
  position: fixed;
  bottom: 0px;
  right: 15px;
  z-index: 100;
  margin-bottom: 0;

  .panel-body{padding: 5px;}

  a {color: white;}
  .chat-icon {width: 20px; height:auto; margin-right: 3px; margin-bottom: 3px;}

  .panel-heading {background-color: darken($blue, 25%);text-align: center;color:white;padding: 5px 6px;
    &:hover a {color: rgba(white, .7);}
  }
  .btn.exp {font-weight: bold; margin-left: 25px;}
  .btn.pull-right {margin-right: 5px; font-weight: bold;}

  .tab-link {color: black; float: right; font-weight: bold; margin-top: 20px;
    &:hover {opacity: .7;}
  }

  &.panel-success {
    .panel-heading {background-color: #dff0d8; }
    a {color: $dark; }
  }
}


span.off, span.on {width: 6px; height: 6px; border-radius: 50%; display: inline-block; background-color: green; vertical-align: middle; margin-left: 2px;}
span.off {background-color: red;}

.new_message, .new_note {margin-top:15px; }
input.btn.btn-success {margin-top:8px;}
